{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
